{% extends "master.html" %}

{% block title %}Crear Estudiante{% endblock %}

{% block content %}
<h1 class="text-white text-center">Crear Nuevo Estudiante</h1>
<div class="row justify-content-center">
  <div class="mb-4 mb-lg-0">
    <div class="custom-block bg-white shadow-lg">
      <form method="post" class="custom-form subscribe-form" role="form">
        {% csrf_token %}
        {{ formulario.as_p }}
        <p><button type="submit" class="btn custom-btn custom-border-btn">Guardar Estudiante</button></p>
      </form>
    </div>
  </div>
</div>

<br>
<a href="{% url 'ver_estudiantes' %}" class="btn custom-btn custom-border-btn smoothscroll me-4">Ver Estudiantes</a>
{% endblock %}
