{% extends "master.html" %}

{% block title %}Listado de Módulos{% endblock %}

{% block content %}
<h1 class="text-white text-center">Listado de Módulos</h1>
<div class="row justify-content-center">
  <div class="mb-4 mb-lg-0">
    <div class="custom-block bg-white shadow-lg">
      <h4 class="text-center">Estos son los módulos disponibles:</h4>
      <ul class="list-group">
        {% for modulo_info in modulos_info %}
          <li class="list-group-item">
            <h5>Módulo: {{ modulo_info.modulo.nombre }}</h5>
            <p>Total valor de matrículas: {{ modulo_info.total_valor }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<br>
<a href="{% url 'index' %}" class="btn custom-btn custom-border-btn smoothscroll me-4">Inicio</a>
{% endblock %}
